#root{
    display: flex;
    align-items: center;
    height: 100vh;
}

main{
    display: flex;
    flex-direction: row;
    height: 100%;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin: 0 auto;
}

.login-input {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem; /* Adjust as needed for spacing between text fields */
    margin: 0 auto;
    margin-bottom: -30px;
  }

.homepage{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#home-form{
    background-color: whitesmoke;
    height: 100vh;
    width: 50vw;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#home-pic{
    height: 100vh;
    width: 60vw;
    object-fit: cover;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home-pic img{
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    -webkit-mask-image: linear-gradient(black, transparent);
    mask-image: linear-gradient(black, transparent);
}

input{
    height: 2.5rem;
    font-size: medium;
    border-radius: 10px;
    border: 1px solid;
}

button{
    margin-top: 30px;
    margin-bottom: 10px;
    height: 2.5rem;
    width: 5rem;
    font-size: medium;
    font-family: 'Poppins', sans-serif;
    background-color: #3398CC;
    color: white;
    border-style: none;
    border-radius: 15px;
}

button:hover {
    filter: drop-shadow(0 0 0.2em #3398cc);
}

.input-label {
    margin-bottom: 0.5rem; /* Adjust as needed for spacing between labels and text fields */
  }
  
  .user-input {
    height: 2.5rem;
    font-size: medium;
    border-radius: 10px;
    border: 1px solid;
    margin: 0; /* Remove the default margin to avoid extra spacing */
  }

  .password-options {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
  
  .options {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .show-password-label {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 0;
    margin-right: 2.5rem;
  }
  
  /* Add margin-right to the checkbox for spacing */
  .show-password-label input[type="checkbox"] {
    margin-right: 1.5rem; /* Adjust the margin as needed */
  }
  
  /* Add margin-left to the "Forgot Password?" link for spacing */
  .options p {
    margin-left: 0.5rem; /* Adjust the margin as needed */
  }
  
#showpass{
    height: 20%;
    margin: 0;
    }

#home-logo img {
    height: 100px;
    width: 100px;
}

#home-reg{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

a{
    color:#3398cc;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.check-password {
    margin-top: -15px;
    display: flex;
    flex-direction: row;
    align-items: center;
	gap: 0.5rem;
}

label.checkbox {
    display: flex;
    align-items: initial;
	flex-direction: row;
	justify-content: center;
}

.check-password .checkbox{
    display: flex;
    flex-direction: row;
    align-items: center;
}
