#root{
    display: flex;
    align-items: center;
    height: 100vh;
}

main{
    display: flex;
    flex-direction: row;
    height: 100%;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin: 0 auto;
}

.login-input {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin: 0 auto;
    margin-bottom: -30px;
}

.homepage{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#home-form{
    background-color: whitesmoke;
    height: 100vh;
    width: 50vw;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#home-pic{
    height: 100vh;
    width: 60vw;
    object-fit: cover;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home-pic img{
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    -webkit-mask-image: linear-gradient(black, transparent);
    mask-image: linear-gradient(black, transparent);
}

input{
    height: 2.5rem;
    font-size: medium;
    border-radius: 10px;
    border: 1px solid;
}

button{
    margin-top: 30px;
    margin-bottom: 10px;
    height: 2.5rem;
    width: 5rem;
    font-size: medium;
    font-family: 'Poppins', sans-serif;
    background-color: #3398CC;
    color: white;
    border-style: none;
    border-radius: 15px;
}

button:hover {
    filter: drop-shadow(0 0 0.2em #3398cc);
}

.input-label {
    margin-bottom: 0.5rem;
}
  
.user-input {
    height: 2.5rem;
    font-size: medium;
    border-radius: 10px;
    border: 1px solid;
    margin: 0;
}

.password-options {
    margin-top: 2rem;
    margin-left: 12rem;
    display: flex;
}


#home-logo img {
    height: 100px;
    width: 100px;
}

#home-reg{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

a{
    color:#3398cc;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.check-password {
    margin-top: -15px;
    display: flex;
    flex-direction: row;
    align-items: center;
	gap: 0.5rem;
}

label.checkbox {
    display: flex;
    align-items: initial;
	flex-direction: row;
	justify-content: center;
}

.check-password .checkbox{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.password-input {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin: 0 auto;
    margin-bottom: -30px;
}

.password-input .input-container {
    position: relative;
    width: 110%;
}

.password-field {
    height: 2.5rem;
    font-size: medium;
    border-radius: 10px;
    border: 1px solid;
    margin: 0;
    width: 100%;
}

.toggle-eye {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    outline: none;
}

.toggle-eye svg {
    width: 20px;
    height: 20px;
    fill: #333;
}

@media (max-width: 768px) {
    #home-form {
        width: 100%;
    }

    #home-pic {
        width: 100%;
    }

    #root {
        width: 100%;
    }

    main {
        width: 100%;
    }
}

/* Media query for Galaxy Fold */
@media screen and (max-width: 280px) {
    .login-input {
        margin-left: 18%;
        width: 80%;
    }
    
    .user-input {
        margin-right: 10%;
        width: 80%; 
        margin-bottom: 10px; 
    }

    .password-field {
        width: 80%;
    }
    
    #home-form {
        width: 155%;
        height: 139%;
        margin: -10% -35%;
    }
    
    #home-logo img {
        margin-left: 5%;
    }
    
    #home-reg {
        margin-left: 14%;
    }
    
    button {
        margin-left: 5%;
    }
    
    .toggle-eye {
        margin: -1% 14%; 
    }
}


/* Media query for iPad mini */
@media screen and (width: 768px) and (height: 1024px) {
    #home-form {
        height: 100%;
        width: 50%;
    }
}

/* Media query for nest hub */
@media screen and (width: 1024px) and (height: 600px) {
    #home-form {
        height: 100%;
    }

    #home-logo img {
        margin-top: 10%;
        margin-bottom: -10%;
    }

    h2 {
        margin-bottom: 5%;
    }
}