.announcement-container{
    background-color: white;
    width: 89vw;
    height: 89vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 20px;
}
#announce-img{
    height: 60vh;
    width: auto;
 }

 .announce-content{
    display: flex;
    flex-direction: row;
 }
 .announce-page{
    display: flex;
    flex-direction: column;
 }
