.announcement-container{
    background-color: white;
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
    
    border-radius: 20px;
}
#announce-img{
    height: 60vh;
    width: auto;
 }
