#root{
    display: flex;
    align-items: center;
    height: 100vh;
}

main{
    display: flex;
    flex-direction: row;
    height: 100%;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin: 0 auto;
}

.servicespage{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#services-form{
    background-color: whitesmoke;
    height: 100vh;
    width: 50vw;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#services-logo{
    height: 100vh;
    width: 50vw;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#services-icon img {
    height: 400px; /* Set your desired height */
    width: 400px; /* Set your desired width */
    margin: 0 auto;
    padding: 0;
    top: 0;
    left: 0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    font-family: 'Poppins', sans-serif;
    margin-top: -30px;
}

button{
    height: 2.5rem;
    width: 5rem;
    font-size: medium;
    font-family: 'Poppins', sans-serif;
    background-color: #3398cc;
    border-style: none;
    border-radius: 15px;
}

button:hover {
    filter: drop-shadow(0 0 0.2em #3398cc);
}

#custom-button {
    width: 50%;
}


.services-info {
    margin-top: 5px;
}

@media (max-width: 768px) {
    #services-form {
        margin-right: -70px;
        height: 125%;
        width: 125%;
    }

    #services-icon img {
        margin-left: 30px;
        height: 200px;
        width: 200px;
    }
}

/* Media query for Galaxy Fold */
@media screen and (max-width: 280px) {
    #services-form {
        margin-right: -70%;
        height: 170%;
        width: 200%;
    }

    #services-icon img {
        margin-left: 70px;
    }
}

/* Media query for iPad mini */
@media screen and (width: 820px) and (height: 1180px) {
    #services-form {
        margin-right: -1%;
        height: 100%;
        width: 50%;
    }

    #services-icon img {
        height: 200px;
        width: 200px;
    }
}