#root{
    display: flex;
    align-items: center;
    height: 100vh;
}

main{
    display: flex;
    flex-direction: row;
    height: 100%;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin: 0 auto;
}

.forgotpage{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#forgotpass-form{
    background-color: whitesmoke;
    height: 100vh;
    width: 50vw;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#forgotpass-logo{
    height: 100vh;
    width: 50vw;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    font-family: 'Poppins', sans-serif;
}

button{
    height: 2.5rem;
    width: 5rem;
    font-size: medium;
    font-family: 'Poppins', sans-serif;
    background-color: #3398cc;
    border-style: none;
    border-radius: 15px;
}

button:hover {
    filter: drop-shadow(0 0 0.2em #3398cc);
}

#custom-button {
    width: 50%;
}


.forgotpass-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

@media (max-width: 768px) {
    #forgotpass-form {
        width: 100%;
    }

    #forgotpass-pic {
        width: 100%;
    }

    #home-logo {
        margin-left: 5%;
    }

    #root {
        width: 100%;
    }

    main {
        width: 100%;
    }

    h2 {
        margin-left: 5%;
        font-size: 40px;
    }

    h3 {
        margin-left: 5%;
        font-size: 15px;
    }

    .forgotpass-input {
        margin-left: 10%;
        width: 80%;
    }

    button {
        margin-left: 5%;
    }

    /* Media query for Galaxy Fold */
@media screen and (max-width: 280px) {
    .forgotpass-input {
        margin-left: 22%;
        width: 80%;
    }

    .user-input {
        margin-right: 10%;
        width: 80%; /* You can adjust the width as needed */
        margin-bottom: 10px; /* Add margin as needed */
    }
    .password-field {
        width: 80%;
    }
    #forgotpass-form {
        width: 155%;
        height: 139%;
        margin: -10% -35%; /* Center the element horizontally */
    }

    h2 {
        margin-left: 18%;
    }

    h3 {
        font-size: 15px;
        margin-left: 18%;
    }

    button {
        margin-left: 14%;
    }

}

/* Media query for iPad Mini (Portrait) */
@media screen and (width: 768px) and (height: 1024px) {
    #forgotpass-form {
        width: 152%;
    }

    #forgotpass-pic {
        width: 100%;
    }

    #root {
        width: 100%;
    }

    main {
        width: 100%;
    }

    h2 {
        margin-left: 80%;
        font-size: 60px;
    }

    h3 {
        margin-left: 80%;
        font-size: 20px;
    }

    .forgotpass-input {
        margin-left: 80%;
        width: 80%;
    }

    button {
        margin-left: 78%;
    }
}
}

/* Media query for Surface Duo */
@media screen and (width: 540px) and (height: 720px) {
    #forgotpass-form {
        width: 152%;
    }

    #forgotpass-pic {
        width: 100%;
    }

    #root {
        width: 100%;
    }

    main {
        width: 100%;
    }

    h2 {
        margin-left: 80%;
        font-size: 40px;
    }

    h3 {
        margin-left: 80%;
        font-size: 16px;
    }

    .forgotpass-input {
        margin-left: 80%;
        width: 80%;
    }

    button {
        margin-left: 78%;
    }
}
