.announcement-container-amn{
   /* background-color: white;
   width: 89vw;
   height: 89vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   border-radius: 20px; */

   background-color: white;
   width: 86vw;
   height: 89vh;
   border-radius: 20px;
   margin-left: 20px;
}

#announce-img-amn{
   height: 60vh;
   width: auto;
 }

.announce-content-amn{
   display: flex;
   flex-direction: row;
}

.announce-page-amn{
   display: flex;
   flex-direction: column;
}
