/* Add this CSS to your existing styles */
.supplies-container {
    background-color: white;
    width: 89vw;
    border-radius: 20px;
  }
  
  .create-stocks {
    margin-top: 10px;
    margin-left: 100px;
    margin-bottom: 10px;
    display: flex;
    background-color: rgb(243, 243, 243);
    width: fit-content;
    padding: 20px;
    border-radius: 20px;
    gap: 1.5rem;
  }
  
  .input-supplies {
    width: 20vw;
  }

.supplies-row {
    display: flex; /* Use flexbox for row alignment */
}

.supplies-form, .supplies-view {
    flex: 1; /* Distribute available space evenly between the two components */
    padding: 10px; /* Add spacing if necessary */
}

  
  .table {
    margin-top: 10px;
    border-collapse: collapse;
    margin: 20px; /* Center the table horizontally */
    background-color: #f2f2f2;
    border-radius: 20px; /* Add border-radius for the entire table */
    overflow: hidden; /* Add overflow: hidden to contain the rounded corners */
    width: calc(100% - 2em); /* Adjust the width to account for scrollbar */
  }
  
  #header-supplies {
    text-align: center; /* Center the header text */
  }
  
  .table th,
  .table td {
    padding: 10px; /* Set the same padding for both th and td */
  }
  
  .table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .table tr:hover {
    background-color: #ddd;
  }
  
  tbody {
    display: table-row-group; /* Reset display property */
    margin: 5px;
  }
  
  thead {
    display: table-row-group;
  }
  
  .supplies-table-content {
    margin-right: 700px;
  }
  
  /* Add a fixed height and enable overflow for the table container */
  .supplies-table-container {
    margin-top: -5px;
    width: 250%;
    max-height: 400px; /* Adjust the height as needed */
    overflow: scroll;
    overflow-x: hidden;
  }
  
  