*{
  font-family: 'Poppins', sans-serif;
}

.supplies-container {
  background-color: white;
   width: 86vw;
   height: 89vh;
   border-radius: 20px;
   margin-left: 20px;
}
  
.create-stocks {
  height: 100%;
  margin-top: 210px;
  margin-left: 50px;
  margin-bottom: 10px;
  display: flex;
  background-color: rgb(243, 243, 243);
  width: fit-content;
  padding: 20px;
  border-radius: 20px;
  gap: 1.5rem;
}

#img-upload{
  border: none;
  border-radius: 0;
}
.input-supplies {
  width: 20vw;
  border-radius: 20px;
}

.supplies-row {
  display: flex;
}

.supplies-form, .supplies-view {
  flex: 1;
  padding: 10px;
}

  
.table {
  margin-top: 10px;
  border-collapse: collapse;
  margin: 20px; 
  background-color: #f2f2f2;
  border-radius: 20px; 
  overflow: hidden; 
  width: calc(100% - 2em); 
  table-layout: fixed;
}

#inventory-header {
  font-size: 25px;
}
  
.table th,
.table td {
  padding: 10px;
}
  
  
.table tr:hover {
  background-color: #ddd;
}
  
tbody {
  display: table-row-group;
  margin: 5px;
}
  
thead {
  display: table-row-group;
}
  
.supplies-table-content {
  margin-right: 700px;
}

.table th:nth-child(1),
.table td:nth-child(1),
.table th:nth-child(2),
.table td:nth-child(2) {
  padding: 5px;
}

.table th:nth-child(3),
.table td:nth-child(3), /* Availability column */
.table th:nth-child(4),
.table td:nth-child(4), /* Price column */
.table th:nth-child(5),
.table td:nth-child(5) { /* Image column */
  text-align: center; /* Center the content */
  padding: 10px; /* Adjust padding as needed */
}

.supplies-table-container {
  margin-top: 30px;
  margin-left: 5px;
  /* width: 250%; */
  width: 240%;
  max-height: 630px;
  overflow: scroll;
  overflow-x: hidden;
}

.supplies-change {
  border-radius: 20px;
}

.supplies-change.supplies-change-input {
  width: 120px;
}

#supplies-header {
  display: flex;
  justify-content: center;
  margin-left: 200px;
}

.searchbar-header{
  display: flex;
  flex-direction: row;
  margin-bottom: -10px;
  width: 600px;
  z-index: 1;
}
  
#searchbar-supplies{
  display:flex;
  margin-top: -10px;
  margin-left: 25px;
  border-radius: 20px;
  width: 1060px;
  background-color: #f3f3f3;
  z-index: 1;
}

.actionButtons {
  display: flex;
  gap: 5px; /* Adjust the gap as needed */
}

#supplies-edit-btn {
  margin-top: 10px;
  padding: 8px 20px;
}

#supplies-save-btn {
  margin-top: 10px;
  padding: 8px 12px;
}

#supplies-cancel-btn {
  margin-top: 10px;
}

#supplies-delete-btn {
  background-color: #FF0000;
  margin-top: 10px;
}

.lowStock{
  background-color: rgb(255, 151, 151);
  font-weight: 600;
}


#expire-date{
  border-radius: 20px;
  width: 250px; 
}

.expiration-container{
 display: flex;
 flex-direction: row;
 justify-content: baseline;
 align-items: baseline;
 gap: 0.3rem;
 padding: 3px;
}

#label-expire{
  font-weight: 500;
}