.supplies-container {
  background-color: white;
   width: 85vw;
   height: 89vh;
   border-radius: 20px;
   margin-left: 20px;
}
  
.create-stocks {
  margin-top: -10px;
  margin-left: 100px;
  margin-bottom: 10px;
  display: flex;
  background-color: rgb(243, 243, 243);
  width: fit-content;
  padding: 20px;
  border-radius: 20px;
  gap: 1.5rem;
}
  
.input-supplies {
  width: 20vw;
}

.supplies-row {
  display: flex;
}

.supplies-form, .supplies-view {
  flex: 1;
  padding: 10px;
}

  
.table {
  margin-top: 10px;
  border-collapse: collapse;
  margin: 20px; 
  background-color: #f2f2f2;
  border-radius: 20px; 
  overflow: hidden; 
  width: calc(100% - 2em); 
}
  
#header-supplies {
  text-align: center; 
}
  
.table th,
.table td {
  padding: 10px;
}
  
.table tr:nth-child(even) {
  background-color: #f2f2f2;
}
  
.table tr:hover {
  background-color: #ddd;
}
  
tbody {
  display: table-row-group;
  margin: 5px;
}
  
thead {
  display: table-row-group;
}
  
.supplies-table-content {
  margin-right: 700px;
}

.supplies-table-container {
  margin-top: -5px;
  width: 250%;
  max-height: 400px;
  overflow: scroll;
  overflow-x: hidden;
}
  
#searchbar-supplies{
  width: 95%;
  background-color: #f3f3f3;
}