*{
  font-family: 'Poppins', sans-serif;
}

.supplies-container {
  background-color: white;
   width: 86vw;
   height: 89vh;
   border-radius: 20px;
   margin-left: 20px;
}
  
.create-stocks {
  height: 100%;
  margin-top: 98px;
  margin-left: 100px;
  margin-bottom: 10px;
  display: flex;
  background-color: rgb(243, 243, 243);
  width: fit-content;
  padding: 20px;
  border-radius: 20px;
  gap: 1.5rem;
}

#img-upload{
  border: none;
  border-radius: 0;
}
.input-supplies {
  width: 20vw;
  border-radius: 10px;
}

.supplies-row {
  display: flex;
}

.supplies-form, .supplies-view {
  flex: 1;
  padding: 10px;
}

  
.table {
  margin-top: 10px;
  border-collapse: collapse;
  margin: 20px; 
  background-color: #f2f2f2;
  border-radius: 20px; 
  overflow: hidden; 
  width: calc(100% - 2em); 
}
  
#header-supplies {
  text-align: center; 
}

#inventory-header {
  font-size: 25px;
}
  
.table th,
.table td {
  padding: 10px;
}
  
  
.table tr:hover {
  background-color: #ddd;
}
  
tbody {
  display: table-row-group;
  margin: 5px;
}
  
thead {
  display: table-row-group;
}
  
.supplies-table-content {
  margin-right: 700px;
}

.table th:nth-child(1),
.table td:nth-child(1),
.table th:nth-child(2),
.table td:nth-child(2) {
  padding: 10px;
}

.table th:nth-child(3),
.table td:nth-child(3), /* Availability column */
.table th:nth-child(4),
.table td:nth-child(4), /* Price column */
.table th:nth-child(5),
.table td:nth-child(5) { /* Image column */
  text-align: center; /* Center the content */
  padding: 20px; /* Adjust padding as needed */
}

.supplies-table-container {
  margin-top: 42px;
  margin-left: 20px;
  /* width: 250%; */
  width: 110%;
  max-height: 600px;
  overflow: scroll;
  overflow-x: hidden;
}

  
#searchbar-supplies{
  display: flex;
  align-items: center;
  margin-bottom: -10px;
  width: 600px;
  background-color: #f3f3f3;
  z-index: 1;
}

.actionButtons {
  display: flex;
  gap: 5px; /* Adjust the gap as needed */
}

#supplies-edit-btn {
  margin-top: 10px;
}

#supplies-delete-btn {
  background-color: #FF0000;
  margin-top: 10px;
}