/* Add this to your CSS */

.container-table {
    background-color: rgb(230, 230, 230);
    display: flex !important;
    flex-direction: column;
    font-size: 16px;
    padding: 40px;
    border-radius: 20px;
    width: 90%;
    height: 38vh;
    margin: 2%;
    margin-top: 300px;
    gap: 2rem;
  }
  
  .medical-history {
    margin-top: -30px;
    width: auto;
    display: flex;
    flex-direction: column;
    background-color: var(--bs-light);
  }
  
  #dashboard-h1 {
    margin-top: -10px;
    text-align: left;
    font-weight: bold;
  }
  
  /* Set a max-height and make the tbody scrollable */
  .scrollable-container {
    max-height: 310px; /* Adjust the height as needed */
    overflow-y: auto;
  }
  
  table {
    background-color: white;
    border-collapse: collapse;
    width: 100%;
  }
  
  thead {
    background-color: var(--bs-light);
  }
  
  th, td {
    border: 1px solid;
    padding: 8px;
    text-align: left;
  }
  