.patientrecord-container {
    background-color: white;
    width: 89vw;
    height: 89vh;
    border-radius: 20px;
  }

.create-patientrecord {
    margin-left: 100px;
    margin-top: 40px;
    margin-bottom: 20px;
    display: flex;
    background-color: rgb(243, 243, 243);
    width: fit-content;
    height: 36vh;
    padding: 20px;
    border-radius: 20px;
    gap: 1.5rem;
}

.input-patientrecord {
    width: 20vw;
}

.note-btn.submit {
    margin-top: -10px;
}

.column {
    display: flex;
    flex-direction: row;
    align-items: flex-start; /* Adjust this property as needed */
    justify-content: space-between; /* Adjust this property as needed */
}

.patientform {
    flex: 1; /* This will make both forms take up equal width */
}

.patientrecord-table-content {
    height: 40%;
    width: 155%;
}

.patientview {
    margin-top: 20px;
    flex: 2; /* Adjust the value to control the width of the PatientRecordView */
    /* Add any other styles you need for the PatientRecordView */
}

.record-table-container {
    margin-top: 5px;
    width: 60%;
    max-height: 400px; /* Adjust the height as needed */
    overflow-y: auto;
  }

/*medicalform*/

.medicalrecord-container {
    background-color: white;
    width: 89vw;
    border-radius: 20px;
}

  .create-medicalrecord {
    margin-left: 100px;
    margin-top: -10px;
    margin-bottom: 10px;
    display: flex;
    background-color: rgb(243, 243, 243);
    width: fit-content;
    height: 36vh;
    padding: 20px;
    border-radius: 20px;
    gap: 1.5rem;
}

.input-medicalrecord {
    width: 20vw;
}

  