*{
  font-family: 'Poppins', sans-serif;
}

.patientrecord-container {
  background-color: white;
  width: 93vw;
  height: 89vh;
  border-radius: 20px;
  margin-left: 20px;
}

.create-patientrecord {
  margin-left: 100px;
  margin-top: 40px;
  margin-bottom: 20px;
  display: flex;
  background-color: rgb(243, 243, 243);
  width: 21vw;
  height: 36vh;
  padding: 20px;
  border-radius: 20px;
  gap: 1.5rem;
}

.input-patientrecord {
  width: 20vw;
}

.note-btn.submit {
  margin-top: -10px;
}

.column {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.patientform {
  flex: 1;
}

.patientrecord-table-content {
  height: 100%;
  width: 155%;
}

.patientview {
  margin-top: 20px;
  flex: 2;
}

.record-table-container {
  margin-top: 35px;
  width: 60%;
  max-height: 800px;
  overflow: scroll;
  overflow-x: hidden;
  }

.view-details {
  margin-top: 1px;
}

.input-patientrecord {
  width: 20vw;
  height: 2.5rem;
  border-radius: 20px;
}

.savebtn-modal {
  margin-top: 10px;
  margin-bottom: 20px;
}

.savebtn-record {
  margin-top: 10px;
  margin-bottom: 20px;
}

.editButton {
  margin-top: 3px;
}

.custom-gender{
  height: 2.8rem;
  font-size: 16px;
  border: 1px solid black;
}

.table-adm {
  margin-top: 10px;
  border-collapse: collapse;
  margin: 20px; 
  background-color: #f2f2f2;
  border-radius: 20px; 
  overflow: hidden; 
  width: calc(100% - 2em); 
}

.table-adm th,
.table-adm td {
  padding: 10px;
}
  
.table-adm tr:nth-child(even) {
  background-color: #f2f2f2;
}
  
.table-adm tr:hover {
  background-color: #ddd;
}
  
tbody {
  display: table-row-group;
  margin: 5px;
}
  
thead {
  display: table-row-group;
}

.modal-table {
  margin-top: 10px;
  border-collapse: collapse;
  margin: 20px; 
  background-color: #f2f2f2;
  border-radius: 20px; 
  overflow: hidden; 
  width: calc(100% - 2em); 
}

.modal-table th,
.modal-table td {
  padding: 10px;
}
  
.modal-table tr:nth-child(even) {
  background-color: #f2f2f2;
}
  
.modal-table tr:hover {
  background-color: #ddd;
}
  
/*medicalform*/
.medicalrecord-container {
  background-color: white;
  width: 89vw;
  border-radius: 20px;
}

.create-medicalrecord {
  margin-left: 100px;
  margin-top: -10px;
  margin-bottom: 10px;
  display: flex;
  background-color: rgb(243, 243, 243);
  width: 21vw;
  height: 36vh;
  padding: 20px;
  border-radius: 20px;
  gap: 1.5rem;
}

.input-medicalrecord {
  width: 20vw;
  height: 20vh;
  border-radius: 20px;
}

.medical-table-container {
  width: 100%;
}

#medform-btn {
  height: 100px;
}

.record-change {
  border-radius: 20px;
}

.modal-change {
  border-radius: 20px;
}

.editbtn-modal {
  margin-top: 10px;
}

/* MedicalRecordForm.css */
.medicalinput-row {
  margin-left: -8px;
  display: flex;
  gap: 0.2rem;
  width: 21vw;
}

.input-row {
  display: flex;
  justify-content: space-between;
}
  
.input-medicalrecord {
    width: 21vw; 
    height: 10vh;
}

.custom-medical {
  height: 30px;
  width: 20vw;
}

.input-medicalrecord.custom-medical-temp {
  width: 185px;
  height: 30px;
}

/* Medical Record Modal */
.medicalrecord-modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 40%; 
  border-radius: 20px;
  z-index: 1000;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
  
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
  
#searchbar-record{
  margin-top: 22px;
  margin-right: 88px;
  width: 88%;
  background-color: #f3f3f3; 
  border-radius: 20px;
}

.sort-dropdown-order-modal-adm {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: right;
  margin-top: 20px;
  margin-bottom: -45px;
  margin-right: 105px;
}

@media screen and (max-width: 1366px){

  .column{
    display: flex;
    flex-direction: column;
  }
  .create-patientrecord{
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: auto;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    padding: 5px;
  }
  .input-patientrecord{
    width:fit-content ;
    font-size: 15px;
    height: 30px;
  }
  .note-btn.submit{
    margin: 0;
    height: 35px;
    
  }
  .create-medicalrecord{
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: auto;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    padding: 5px;
  }
  .input-medicalrecord{
    height: 30px;
    margin: 0;
    width: fit-content;
  }
  #medform-btn{
    height: 35px;
  }
  #searchbar-record{
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 200px;
    width: 50%;
  }
  .searchbar-record-adm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .record-table-container{
    display: flex;
    justify-content: center;
    align-items: center;
    table-layout: fixed;
      margin-left: 100px;
  }
  .patientrecord-table-content{
    display: flex;
    justify-content: center;
    
  }
  .table-adm{
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: fit-content;
  }

}
  
  