*{
    font-family: 'Poppins', sans-serif;
}

.reports-container {
    background-color: white;
    width: 86vw;
    height: 89vh;
    border-radius: 20px;
    margin-left: 20px;
}

#reports-title {
    color: lightslategrey;
    font-size: 20px;
    display: flex;
    margin-left: 50px;
  }