*{
    font-family: 'Poppins', sans-serif;
}

.reports-container {
    background-color: white;
    width: 93vw;
    height: 89vh;
    border-radius: 20px;
    margin-left: 20px;
}

#reports-title {
    color: lightslategrey;
    font-size: 20px;
    display: flex;
    margin-left: 50px;
  }

/* .reports-form-container{
    background-color: rgb(224, 224, 224);
    display: flex;
    justify-content: flex-start;
    width: 20%;
    margin: 20px;
    border-radius: 35px;
    padding: 20px;
}

.reports-input{
    width: 200px;
    border-radius:20px;
}

#reports-form-btn{
    width: fit-content;
} */

#reports-inputfield {
    width: 200px;
}

.reports-form-container{
    width: fit-content;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.reports-input{
    width: 100px;
    height: 30px;
    border-radius:20px;
    margin: -2px;
    font-size: small;
}
#reports-select{
    height: 34px;
    width: 140px;
}
#reports-form-btn{
    width: 90px;
    height: fit-content;
    padding: 8px;
    font-size: small;
    margin: 3px;
    margin-left: -5px;
}

.sort-dropdown-reports {
    margin-top: -20px;
    margin-bottom: -10px;
    margin-right: 1500px;
}

#reports-select{
    border-radius: 20px;
    width: 200px;
}

.reports-table-container{
    /* background-color: whitesmoke;
    width: 100%;
    display: flex;
    justify-content: center; */
    margin-top: 10px;
    overflow-x: auto;
    display: flex;
    flex-direction: column; /* Change to column */
    align-items: center; /* Center items horizontally */
}

.printable-header h2 {
    font-size: 18px; /* Adjust the font size as needed */
}

/* .th-reports-table{
    color: rgb(42, 42, 42);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 10px;
} */

.highlight {
    font-weight: 600;
    background-color: rgba(131, 131, 221, 0.53);
    border-radius: 20px;
    width: fixed;
    display: block;
    padding: 5px;
  }

#reports-table-view{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    border-collapse: collapse;
    background-color: #f2f2f2;
    border-radius: 20px;
    overflow-y: auto;  /* Use overflow-y to enable vertical scrolling */
    max-height:550px; /* Set a suitable max-height for your table */
    width: calc(100% - 2em);
}

.tbody-tr-reports{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem; /* Use the same gap as in .th-reports-table */
    display: table;
    width: 100%;
    table-layout: fixed;
}

.th-reports-table {
    color: rgb(42, 42, 42);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    display: table;
    width: 100%;
    table-layout: fixed;
    margin-top: 10px;
}

.tbody-tr-reports td {
    word-wrap: break-word;
    max-width: 150px; /* Adjust the max-width as needed */
}

#generate-pdf-btn {
    width: 120px;
    height: fit-content;
    padding: 8px;
    font-size: small;
    margin: 3px;
    margin-top: 10px;
    margin-left: 1400px;
}


@media screen and (max-width: 1366px){
    .reports-container{
        width: 80vw;
        height: 88vh;
    }
    .reports-form-container{
        width: fit-content;
        padding: 10px;
        display: flex;
        flex-direction: row;
    }
    
    .reports-input{
        width: 100px;
        height: 30px;
        border-radius:20px;
        margin: -2px;
        font-size: small;
    }
    #reports-select{
        height: 34px;
        width: 140px;
    }
    #reports-form-btn{
        width: 90px;
        height: fit-content;
        padding: 8px;
        font-size: small;
        margin: 3px;
    }
    #sort-reports{
        font-size: small;
        display: flex;
    }
    .sort-dropdown-reports{
        display: flex;
        flex-direction: row;
        gap:1rem;
        padding: 20px;
        margin:5px;
        align-items: baseline;
    }
    #generate-pdf-btn{
        margin: 0;
    }
    .reports-btn-pdf{
        display: flex;
        justify-content: flex-end;
        padding: 20px;
    }
}