header{
    width: 100vw;
    height: auto;
}

.profile-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#logo-box-sidebar{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: black;
   
}

#logo-box-sidebar img{
    height: 5vh;
    width: 5vh;
    margin: 5px;
    padding: 10px;
}

#logo-box-sidebar h2{
    font-size: 15px;
}

.profile-side {
    display: flex;
    flex-direction: column;
  }
  
.content-container {
    display: flex; 
    flex-grow: 1; 
    align-items: center; 
}
  
main{
    height: 90vh;
    display: flex;
    align-items:start;
    flex-direction: column;
}

#main-upper-container{
    background-color: #f5f5f5;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: -20px;
    width: 89vw;
}

.sidenav{
    height: 90vh;
    width: 10%;
    display: block;
    flex-direction: column;
    margin-right: 6px;
}

.sidenav a{
    color: black;
    font-family: 'Poppins', sans-serif;
    display: flex;
    font-size: 15px;
}

.sidenav ul{
    list-style: none;
    display: flex;
    margin: 10px;
    padding: 10px;
}

.link-div{
    display: flex;
    align-items: center;
}