#root{
    display: flex;
    align-items: center;
    height: 100vh;
}

main{
    display: flex;
    flex-direction: row;
    height: 100%;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin: 0 auto;
}

.registerpage{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#register-form{
    background-color: whitesmoke;
    height: 100vh;
    width: 50vw;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#register-logo{
    height: 100vh;
    width: 50vw;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

input{
    width: 100%;
    margin-left: 5px;
    height: 2.5rem;
    font-size: medium;
    border-radius: 10px;
    border: 1px solid;
}

#register-reg{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.form {
    display: flex;
    flex-direction: row;
    align-items: baseline;
	gap: 0.5rem;
}

.form1 {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 0.5rem;
    width: 100%;
}

.form1 .react-datepicker-wrapper {
    width: 100%;
}

.form1 label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.form1 select {
    width: 100%;
    height: 2.5rem;
    font-size: medium;
    border-radius: 10px;
    border: 1px solid;
}

.terms {
    margin-top: -30px;
    margin-left: 12rem;
    display: flex;
}

.password-input {
    width: 305px; /* Set your desired fixed width here */
  }


  #register.password-wrapper {
    width: 100%;
    position: relative;
  }
  
  #register.password-wrapper input[type="password"] {
    width: calc(100% - 40px); /* Adjust the width minus the padding for the icon */
    padding-right: 40px; /* Adjust the padding as needed to fit the icon */
  }
  .toggle-eye {
    position: absolute;
    right: 10px; /* Adjust the position as needed */
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    outline: none;
  }
  
  /* Add styling for the eye icon itself */
  .toggle-eye svg {
    width: 20px; /* Adjust the size as needed */
    height: 20px; /* Adjust the size as needed */
    fill: #333; /* Change the color to match your design */
  }
