*{
   font-family: 'Poppins', sans-serif;
}

.announcement-container-ptn{
   background-color: white;
   width: 85vw;
   height: 89vh;
   border-radius: 20px;
   margin-left: 20px;
}

#announce-img-ptn{
   height: 60vh;
   width: auto;
}

.announce-content-ptn{
   display: flex;
   flex-direction: row;
}

.announce-page-ptn{
   display: flex;
   flex-direction: column;
}
