*{
  font-family: 'Poppins', sans-serif;
}

.profile-container {
  display: flex;
  /* align-items: center; */
  /* justify-content: space-between; */
}

.patient-profile img {
  margin-top: 250px;
  width: 150px;
  height: 150px;
}

.ptn-name {
  margin-top: 20px;
  font-size: 18px; 
  font-weight: bold; 
}
  
.ptn-number {
  font-size: 16px; 
}
  
.ptn-address {
  font-size: 16px;
  color: #007bff;
}

/* css for patient info textview */
.profile-view {
  display: flex;
  background-color: rgb(243, 243, 243);
  width: fit-content;
  height: auto;
  padding: 20px;
  border-radius: 20px;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  /*  margin-left: 440px;
   width: 30vw;
  height: 45vh; */
}

.myprofile-details p {
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-bottom: 50px; 
}

/* css for patient info edit */
#edit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 500px;
  margin-top: -20px;
}

/* css for patient info table */
.patient-info {
  /* background-color: white;
  height: 89vh;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  padding: 20px;
  border-radius: 20px;
  width: 85vw;
  margin-top: -10px;
  margin-right: 100px;
  gap: 1rem; */
  gap: 1rem;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 85vw;
  height: 89vh;
  border-radius: 20px;
  margin-left: 20px;
}

#details-h1 {
  margin-top: 0;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}

.patient-details-section {
  margin-left: -10px;
  display: flex;
  flex-direction: column;
  background-color: var(--bs-light);
}

.scrollable-container {
  max-height: 310px;
  overflow-y: auto;
}

.myprofile-details{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.myprofile-details input {
  display: flex;
  margin-bottom: 1rem;
  width: 80%;
  align-items: center;
}

.patient-details-table {
  background-color: white;
  border-collapse: collapse;
  width: 100%;
}

.patient-details-table th,
.patient-details-table td {
  border: 1px solid;
  padding: 8px;
  text-align: left;
}

.patient-details-table th {
  background-color: var(--bs-light);
  width: auto;
  color: black;
  border-color: black
}

.patient-details-table tr td:first-child {
  font-weight: bold;
  width: 100px;
}

.table-cell {
  height: 20px;
}

/* EDIT PROCESS INPUT FIELDS  */
.edit-myprofile-details{
 display: flex;
 flex-direction: column;
 gap: 1rem;
}

.edit-name-input{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}

#edit-first{
  border-radius: 20px;
}

#edit-mid{
  border-radius: 20px;
}

#edit-last{
  border-radius: 20px;
}

#edit-num{
  border-radius: 20px;
  width: 50%;
}

#edit-birth{
  border-radius: 20px;
  width: 50%;
}

#edit-house{
  border-radius: 20px;
}

#edit-street{
  border-radius: 20px;
}

#edit-brgy{
  border-radius: 20px;
}

#edit-city{
  border-radius: 20px;
}

#edit-prov{
  border-radius: 20px;
}

#edit-email{
  border-radius: 20px;
}

#edit-userName{
  border-radius: 20px;
}

.edit-numbirth-input{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.edit-address-input{
  display: flex;
  flex-direction: row;
}

.edit-handler-input{
  display: flex;
}

.edit-savecancel{
 display: flex;
 flex-direction: row;
 gap: 1rem;
 justify-content: flex-end;
}

#cancel-btn-myprofile {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

#save-btn-myprofile {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
} 