
/* HEADER CSS--------------------------------- */
header{
    width: 99vw;
    height: auto;
    
}

.profile-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.profile-menu{
    display: flex;
    flex-direction: row;
    width: fit-content;
    align-items: center;
}

#name-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#menu-img{
    height: 5vh;
    width: 5vh;
    margin: 5px;
    padding: 10px;
}

#drop-label{
    display: flex;
    flex-direction: column;
}

#drop-label p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    margin: 5px;
}

.drop-links ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin: 0;
    padding: 0;
}

.drop-links a{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.drop-links a:hover{
    margin: 5px;
}

#logo-box-sidebar h2{
    font-size: 15px;
}

#logo-box-sidebar img{
    height: 5vh;
    width: 5vh;
    margin: 5px;
    padding: 10px;
}

#logo-box-sidebar{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: black;
   
}

.menu-trigger img {
   
    top: 5px;
    right: 20px;
    height: 55px;
    width: 55px;
    overflow: hidden;
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    top: 80px;
    right: 30px;
    background-color: #fff;
    border-radius: 20px;
    padding: 10px 20px;
    width: 150px;
    box-shadow: 5px 5px 8px #888888;
    z-index: 2;
}

.dropdown-menu::before {
    content: '';
    position: absolute;
    top: -5px;
    right: 15px; 
    transform: rotate(45deg); 
    height: 20px;
    width: 20px;
    background-color: #fff;
}

.dropdown-menu.active{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: var(--speed) ease;
}

.dropdown-menu.inactive{
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: var(--speed) ease;
}

h3 {
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
    font-weight: 500;
    color: var(--primary-text-color);
    line-height: 1.2rem;
}

h3 span {
    font-size: 14px;
    color: var(--secondary-text-color);
    font-weight: 400;
}

.dropdown-menu ul li {
    list-style: none;
    padding: 10px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.dropdown-menu ul li:hover {
    color: #114061;
    cursor: pointer;
}

.dropdown-menu ul li:hover a{
    color: #114061;
    cursor: pointer;
}

.dropdown-menu ul li:hover img{
    opacity: 1;
    cursor: pointer;
}

.dropdownItem {
    display: flex;
    margin: 10px auto;
}

.dropdownItem img {
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition: var(--speed);
}

/* SIDENAV CSS--------------------------------- */

.sidenav{
    height: 90vh;
    /* width: 10%; */
    display: flex;
    flex-direction: column;

}

.sidenav ul{
    margin: 100px 10px 10px 10px;  /* Four values: top, right, bottom, left */
    padding: 10px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.sidenav a{
    text-decoration: none;
    color: black;
    font-family: 'Poppins', sans-serif;
    display: flex;
    font-size: 15px;
}

main{
    display: flex;
    margin: 0;
}
.content{
    display: flex;
    flex-direction: row;
}

.link-div{
    display: flex;
    align-items: center;
}

/* DASHBOARD--------------------------------- */
.dash-employee{
    /* background-color: white;
    width: 89vw;
    height: 89vh;
    border-radius: 20px; */
    background-color: white;
    width: 85vw;
    height: 89vh;
    border-radius: 20px;
    margin-left: 20px;
}

.dash-employee p{
    color: lightslategrey;
    font-size: 20px;
    display: flex;
    margin-left: 50px;
}

.dashemployee-row{
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:50px;
}

/* REQUEST =====-----------------=============------= */

.upcoming-wrapper{
    margin-top: -50px;
    background:rgb(243, 243, 243);
    width: 70%;
    height: 450px;
    padding: 20px;
    border-radius: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 10px;
}
  
.upcoming-wrapper p{
    color: black;
    font-weight: 600;
    padding: 20px;
    margin: 0;
}

.buttons-req{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    
}

.disabled-button {
    background-color: #dcdcdc; 
    color: #a9a9a9; 
    cursor: not-allowed; 
}

.appointment-table tbody .accepted-row {
    background-color: #baebba; 
}

.appointment-table tbody .denied-row {
    background-color: #fcbebe; 
}

/* .request-table-appointment{
    border-collapse: collapse;
    
} */

.appointment-table {
    width: 100%;
}

/* ````````````````````````````````````````TABLE`````````````````````````````````````````````````````````` */

thead{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:3rem;
    padding: 10px;
    color: #778899;
}

.table-ptn {
    border-collapse: collapse;
    width: 90%;
    background-color: #f2f2f2;
    /* border-radius: 20px; */
    overflow: hidden;
    display: table;
    margin: 20px;
}
  
.table-ptn th,
.table-ptn td {
    padding: 10px;
}
  
/* .table-ptn tr:nth-child(even) {
    background-color: #f2f2f2;
}
   */
/* .table-ptn tr:hover {
    background-color: #ddd;
} */
/* 
.table-appointment{
    display: flex;
    justify-content: space-between;
} */

