#root{
    display: flex;
    align-items: center;
    height: 100vh;
}

main{
    display: flex;
    flex-direction: row;
    height: 100%;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin: 0 auto;
}

.changepasspage{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#changepass-form{
    background-color: whitesmoke;
    height: 100vh;
    width: 50vw;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#changepass-logo{
    height: 100vh;
    width: 50vw;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    font-family: 'Poppins', sans-serif;
}

input {
    width: 100%;
    height: 2.5rem;
    font-size: medium;
    border-radius: 10px;
    border: 1px solid;
}

button{
    height: 2.5rem;
    width: 5rem;
    font-size: medium;
    font-family: 'Poppins', sans-serif;
    background-color: #3398cc;
    border-style: none;
    border-radius: 15px;
}

button:hover {
    filter: drop-shadow(0 0 0.2em #3398cc);
}

#custom-button {
    width: 50%;
}

.change-password {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin: 0 auto;
    margin-bottom: -30px;
    position: relative;
}

.new-password {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin: 0 auto;
    margin-bottom: -30px;
    position: relative;
}
  
.new-password .password-container {
    position: relative;
    width: 100%;
}
  
.changepassword-field {
    width: 30%;
    height: 2.5rem;
    font-size: medium;
    border-radius: 10px;
    border: 1px solid;
    position: relative;
}
  
.change-toggle-eye {
    position: absolute;
    right: 315px;
    top: -18%;
    transform: translateY(-50%);
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
}
  
.change-toggle-eye svg {
    width: 20px;
    height: 20px;
    fill: #333;
    vertical-align: middle;
}

/* Remove hover effect when the eye icon is clicked */
.change-toggle-eye:hover {
    filter: none;
}

/* Disable hover effect for the :active state */
.change-toggle-eye:active {
    filter: none;
}