#root{
    display: flex;
    align-items: center;
    height: 100vh;
}

main{
    display: flex;
    flex-direction: row;
    height: 100%;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin: 0 auto;
}

.changepasspage{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#register-form{
    background-color: whitesmoke;
    height: 100vh;
    width: 50vw;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#register-logo{
    height: 100vh;
    width: 50vw;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    font-family: 'Poppins', sans-serif;
}

input {
    width: 100%;
    height: 2.5rem;
    font-size: medium;
    border-radius: 10px;
    border: 1px solid;
}

button{
    height: 2.5rem;
    width: 5rem;
    font-size: medium;
    font-family: 'Poppins', sans-serif;
    background-color: #3398cc;
    border-style: none;
    border-radius: 15px;
}

button:hover {
    filter: drop-shadow(0 0 0.2em #3398cc);
}

#custom-button {
    width: 50%;
}


.form2 {
    display: flex;
    flex-direction: row;
    align-items: baseline;
	gap: 0.5rem;
    width: 40%;
}

.change-password {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin: 0 auto;
    margin-bottom: -30px;
    position: relative; /* Add this line to make the container relative */
}

/* Add these CSS styles to your existing stylesheet or create a new one */

/* Styles for the ChangePassword component */

/* ... (previous CSS rules) ... */

/* Additional styles for the password input fields */
.new-password {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin: 0 auto;
    margin-bottom: -30px;
    position: relative; /* Add this line to make the container relative */
  }
  
  .new-password .password-container {
    position: relative;
    width: 100%;
  }
  
  /* Apply the provided CSS for the password input fields */
  .changepassword-field {
    width: 30%;
    height: 2.5rem;
    font-size: medium;
    border-radius: 10px;
    border: 1px solid;
    position: relative; /* Add this line to make the container relative */
  }
  
  /* Adjust the toggle-eye styles for alignment */
  .change-toggle-eye {
    position: absolute;
    right: 315px; /* Adjust the position as needed */
    top: -18%;
    transform: translateY(-50%);
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
  }
  
  .change-toggle-eye svg {
    width: 20px;
    height: 20px;
    fill: #333; /* Adjust the fill color as needed */
    vertical-align: middle; /* Align the icon vertically with the input field */
  }
  
