*{
    font-family: 'Poppins', sans-serif;
  }
  
  #root{
    display: flex;
    align-items: center;
    height: 100vh;
  }
  
  main{
    display: flex;
    flex-direction: row;
    height: 100%;
  }
  
  form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin: 0 auto;
  }
  
  .forgotpage{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  #resetpass-form{
    background-color: whitesmoke;
    height: 100vh;
    width: 50vw;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #resetpass-logo{
    height: 100vh;
    width: 50vw;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #resetpass-inputfield{
    border-radius: 20px;
  }

  #resetpass-inputfield-new-password {
    margin-left: 2px;
    border-radius: 20px;
  }

  #toggle-eye-new-password {
    margin-top: -50px;
  }

  .input-container-resetpass {
    position: relative;
    display: flex;
    align-items: center;
    width: 103%;
}

.toggle-eye-new-password {
    position: absolute;
    top: 12px;
    right: 10px; /* Adjust the right spacing as needed */
    cursor: pointer;
}
  
  h3 {
    font-family: 'Poppins', sans-serif;
  }
  
  button{
    height: 2.5rem;
    width: 5rem;
    font-size: medium;
    font-family: 'Poppins', sans-serif;
    background-color: #3398cc;
    border-style: none;
    border-radius: 15px;
    margin-top: -10px;
  }
  
  button:hover {
    filter: drop-shadow(0 0 0.2em #3398cc);
  }
  
  #custom-button {
    width: 50%;
  }
  
  
  .resetpass-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
  }
  
  @media (max-width: 768px) {
    #resetpass-form {
        width: 100%;
    }
  
    #resetpass-pic {
        width: 100%;
    }
  
    #home-logo {
        margin-left: 5%;
    }
  
    #root {
        width: 100%;
    }
  
    main {
        width: 100%;
    }
  
    h2 {
        margin-left: 5%;
        font-size: 40px;
    }
  
    h3 {
        margin-left: 5%;
        font-size: 15px;
    }
  
    .resetpass-input {
        margin-left: 10%;
        width: 80%;
    }
  
    button {
        margin-left: 5%;
    }
  }
  
  /* Media query for Galaxy Fold */
  @media screen and (max-width: 280px) {
    .resetpass-input {
        margin-left: 22%;
        width: 80%;
    }
  
    .user-input {
        margin-right: 10%;
        width: 80%; 
        margin-bottom: 10px; 
    }
    .password-field {
        width: 80%;
    }
    #resetpass-form {
        width: 155%;
        height: 139%;
        margin: -10% -35%;
    }
  
    h2 {
        margin-left: 18%;
    }
  
    h3 {
        font-size: 15px;
        margin-left: 18%;
    }
  
    button {
        margin-left: 14%;
    }
  }
  
  