#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }
  
  main {
    display: flex;
    flex-direction: row;
    height: 100%;
  }
  
  #pharmacy-header {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align to the left */
    width: 100%;
    margin-top: 20px;
    margin-left: 50px;
  }

  .pharmacy-container-ptn{
    background-color: white;
    width: 85vw;
    height: 89vh;
    border-radius: 20px;
    margin-left: 20px;
 }

 .pharmacy-content-ptn{
    display: flex;
    flex-direction: row;
 }

 .pharmacy-page-ptn{
    display: flex;
    flex-direction: column;
 }
  